
body {
    background-color: #f4f4f4;
}
.profile-card {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 15px rgba(0, 0, 0, 0.1);
}
.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px;
    border: 5px solid black;
}
.btn-custom {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}